api/__pycache__/*
.env
__pycache__/main.cpython-310.pyc
core/config/__pycache__/database.cpython-310.pyc
core/config/__pycache__/enviroments.cpython-310.pyc
core/config/__pycache__/session.cpython-310.pyc
core/config/__pycache__/SQLAlchemyMiddleware.cpython-310.pyc
core/config/__pycache__/standalone_session.cpython-310.pyc
api/previsao_temporal/__pycache__/previsao_temporal_repository.cpython-310.pyc
api/previsao_temporal/__pycache__/previsao_temporal_v1_rest.cpython-310.pyc
api/previsao_temporal/__pycache__/temporal_v1.cpython-312.pyc
